<div class="SkybrudUmbracoRedirects ImportDialog umb-overlay umb-overlay-right" ng-controller="SkybrudUmbracoRedirects.ImportDialog.Controller">

    <div class="umb-overlay-header">
        <h4 class="umb-overlay__title">
            <localize key="redirects_importRedirects">Import redirects</localize>
        </h4>
        <p class="umb-overlay__subtitle">
            <localize key="redirects_addNewRedirectSubTitle">Import redirects from CSV or Excel.</localize>
        </p>
    </div>

    <div class="umb-overlay-container">

        <div class="redirects-basic-options">
            <label class="sky-option">
                <strong>
                    <localize key="redirects_selectFile">File</localize>
                </strong>
                
                <umb-single-file-upload rebuild="rebuildInput"></umb-single-file-upload>

                <div ng-show="invalidFileFormat" class="alert alert-error property-error">The uploaded file must be in <b>CSV</b> or Excel format.</div>
                <!--<div class="btn-group">
                    <input type="submit" ng-click="upload()" class="btn btn-success" value="Upload file" />
                </div>-->
                <div ng-show="noFile" class="alert alert-error property-error">A CSV file must be selected.</div>
            </label>
        </div>
        
        <!--<div class="umb-dialog-body form-horizontal">
            <div class="umb-pane" ng-hide="processing || processed">
                <p>
                    Upload a metadata <b>CSV</b> file
                </p>
              
            </div>
            <div class="umb-pane" ng-show="processing">
                <div class="alert alert-info">Processing file {{fileName}}</div>
                <umb-load-indicator></umb-load-indicator>
            </div>
            <div class="umb-pane" ng-show="processed">
                <div ng-show="success" class="alert alert-success"><b>Success -</b>{{success}}</div>
                <div ng-show="error" class="alert alert-error"><b>Error processing file {{fileName}} - </b>{{error}}</div>
                <a ng-preventdefault href="" ng-click="back()">Back to upload</a>
            </div>
        </div>-->
    </div>

    <div class="umb-overlay-drawer">
        <a href="#" prevent-default ng-click="close()" class="btn btn-default">
            <localize key="redirects_cancel">Cancel</localize>
        </a>
        <a href="#" prevent-default ng-click="upload()" class="btn btn-success btn-loader" ng-class="{loading: loading}">
            <localize key="redirects_import">Import</localize>
            <div class="umb-button__progress -white"></div>
        </a>
    </div>
</div>